* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 80%;
  margin: auto;
}

section {
  height: 100vh;
}

.heading {
  width: 100%;
  font-size: 2.4rem;
  padding: 10px 0px;
  font-weight: 100;
}

.card {
  background-color: lightgrey;
  border: 1px solid grey;
}

.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-slim {
  font-weight: 100;
  font-style: italic;
}
