footer {
  font-size: 1.2rem;
  padding: 10px;
  background-color: #333;
  color: #fff;
  text-align: center;
  cite {
    color: red;
  }
}
#info {
  margin-top: 10px;
}

.info__link {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
  font-size: 2rem;
}
.fb:hover {
  color: #3b5998;
}
.git:hover {
  color: #3b5998;
}
