#home-page {
  display: flex;
  justify-content: center;
  align-items: center;
//   background: url("../img/cryptobitcoin.jpg");
//   background-repeat: no-repeat;
//   background-size: 100% 100%;
}

.jumbo-text {
  font-size: 100px;
}
