#home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.jumbo-text {
  font-size: 100px;
}
.sub-text {
  margin-top: 10px;
  font-size: 20px;
}

img {
  mix-blend-mode: multiply;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
}
